#toolbar {
    margin: 0px;
    background-color: #ECE9D8; border: 1px solid #888;
    border-bottom: 0px;
    width: 580px;
    height: 25px;
    position: fixed;
    top: 0px;
    right: 0px;
}


#editor-wrapper {
    margin: 0px;
    width: 582px;
    position: fixed;
    margin-top: 26px;
    margin-bottom : 15px;
    top : 0;
    right: 0px;
    bottom : 50%;
    box-sizing : border-box;
}


#output-outer {
    margin: 0px;
    /* float: left; */
    width: 580px;
    height: 50%;
    border: 1px solid #888;
    position: fixed;
    bottom: 0px;
    right: 0px;
}


#output-titlebar {
    margin: 0px;
    width: 100%; font: 11px sans-serif; text-align: center;
    background-color: #ECE9D8; border-bottom: 1px solid #888;
    height : 13px;
    cursor : move;      
    user-select : none;
}


#code-titlebar {
    margin: 0px;
    width: 100%; font: 12px sans-serif; text-align: center;
    background-color: #ECE9D8;
    border: 1px solid #888;
    position : relative;
    height : 16px;
    white-space : nowrap;
    box-sizing : border-box;
}

#code-titlebar div.tab {
    cursor: hand; cursor: pointer; border-right: 1px solid #888;
    /*border-bottom: 1px solid #888; */
    display : inline-block;
    background-color : #ECE9D8;
    box-sizing : border-box;
    position : relative;
    overflow : hidden;
}

#code-titlebar div.tab i.close {
    margin-left: 0.8em;
}

div.tab:after {
	content : "\00a0\00a0";
}

div.tab:before {
	content : "\00a0\00a0";
}


#code-titlebar div.tab.newtab {
    position : absolute;
    top : 0px;
    right : 0px;
    border-left : 1px solid #888;
}


#code-titlebar div.tab pre.code, #code-titlebar div.tab span.cursor {
    display : none;
}


#code-titlebar div.tab.selected {
    background-color: #888;
    color : #ECE9D8; 
}


#code-main {
    background: #EDF4F5;
    border: 1px solid #888;
    border-top: 0px;    
    height: 100%;
    margin-bottom: 15px;    
}


#code-blockly {
    background: #EDF4F5;
    border: 1px solid #888;
    border-top: 0px;    
    height: 100%;
    width: 100%;
    margin-bottom: 15px; 
    display : none;
    top : 0px;    
}


#code-blocklytoggle {
    position: absolute;
    left : 3px;
    text-decoration : underline;
    cursor : hand;
    cursor : pointer;
    display : none;
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;    
}

#themechooser {
    font-family : Verdana;
    position : fixed;
    top : 10px;
    right : -250px;
    bottom : 10px;
    width : 200px;
    overflow : auto;
    overflow-x : hidden;
    background-color : white;
    border : 1px solid black;
}

#themechooser .theme {
    cursor : pointer;
    padding-left : 0.5em;
}

#themechooser .tbar {
    top : 0px;
    right : 0px;
    background-color : black;
    color : white;
    width : 100%;
    height : 1.3em;
    line-height : 1.3em;
    padding-left : 0.5em;
    padding-right : 0.5em;
    box-sizing: border-box;
    cursor : pointer;
}

#themechooser .tbar .close {
    float : right;
}

#themechooser .themes {
    position : absolute;
    bottom : 0px;
    top : 1.3em;
    overflow : auto;
}

#themechooser .theme:not(.tbar):hover {
    background-color: gray;
    color : white;
}

#themechooser .theme.selected {
    font-weight : bolder;
}

pre.javastatic {
    box-sizing: border-box;
  -moz-box-sizing : border-box;
  -ms-box-sizing : border-box;
  -webkit-box-sizing : border-box;
    font-size : 0.8em !important;
    color : grey !important;
    width : 100%;
    background: #D5DCDC !important;
    padding : 3px !important;
    position : relative;
}


#output-main {
    margin: 0px;
    bottom: 0px;
    top : 0px;
    font: 10pt monospace;
    overflow: hidden;
    background-color: #EDF4F5;
}


#output-inner {
    position : absolute;
    top : 14px;
    left : 0px;
    right : 0px;
    bottom : 0px;
}

#horizontaldrag {
    position : fixed;
    right : 580px;
    top : 0px;
    bottom : 0px;
    width : 5px;
    background : rgba(200,200,200,0.7);
    cursor : move;
}

div#lectureslides,div#video {
    position : fixed;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 582px;    
    padding : 0px;
    z-index : -1;
    visibility : hidden;
}

div#lectureslides iframe,div#video iframe {
    height : 100%;
    width : 100%;
    border : 0px;
}

iframe#outputframe {
    width : 100%;
    height : 100%;
    overflow: hidden;
}


div.codebundle {
    background-color : white;
    border : 2px solid black;
    padding : 3px;
}


.error {
    background-color: #FFB2B2 !important;
}


.codehighlight {
    background-color: #A9F5A9 !important;
}


body {
 margin: 0px;
 padding: 0px;
 overflow-x: hidden;
}


form {
 margin: 0px;
}


/* Rules for content area follow */


pre.prettyprint, code.prettyprint, #content code {
    font-size : 1.1em;
    font-family : monospace;
    overflow : auto;
}


pre.prettyprint {
 padding: 1em !important;
        padding-left: 2.5em !important;
}


div.precodepaste div.linenos, div.prenopaste div.linenos {
    position : absolute;
    top : 0px;
    bottom : 0px;
    padding-top : 1em;
    padding-left : 3px;
    padding-right : 3px;
    background : #888;
    color : white;
    font-size : 1.1em;
    font-family : monospace;
}

#content-inner {
    transform-origin : top left;
}


#content {
    position: fixed;
    top: 0;
    left: 0;
    right : 582px;
    background-color: #CFE5E8;
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 90%;
    /* min-height: 100%; */
    bottom : 0px;
    overflow : auto;
    overflow-y : auto;
    overflow-x : hidden;
    z-index: -100;
}

#content-zoom {
    position : fixed;
    top : 5px;
    right : 582px;
    font-size : 1.5em;
    border : 1px solid black;
    background-color : white;
    padding-left : 3px;
    padding-right : 3px;
}

#content-zoom span {
    cursor : pointer;
}

#content-zoom span:hover {
    color: blue;
}

#editor-zoom {
    position : fixed;
    top : 45px;
    right : 5px;
    font-size : 1.1em;
    border : 1px solid black;
    background-color : white;
    padding-left : 3px;
    padding-right : 3px;
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;        
}

#editor-zoom span {
    cursor : pointer;
}

#editor-zoom span:hover {
    color: blue;
}

/*
#content li {
    margin-top : 0.4em;
}*/


#content .parameter {
    display : none;
}


#navbar {
    position: fixed;
    bottom : 7px;
    left : 20px;
    z-index: 50000;
    border : 1px solid black;
    background-color : white;
    padding : 3px;
    padding-left : 35px;
    font-family: Verdana, sans-serif;
}


#navbar .navitem {
    float: left;
    padding: 2px;
    font-size: 11px;    
    border: 1px solid transparent;
    background-color : white;
    margin-right : 0.7em;
    text-align : center;
    line-height : 17px;
}


.navitem:last-child {
    margin-right : 0px !important;
}


#navbar .navitems {
    float : left;
    position : relative;    
}


#navbar .navline {
    position : absolute;
    box-sizing : border-box;
    width : 100%;
    top : 10px;
    border : 2px solid black;
    z-index : -20;
}


#navbar .navitem[id] {
    width : 25px;
    height : 25px;
    border-radius : 12.5px;
    font-size: 15px;   
    line-height : 17px;
    border : 2px solid black;
    box-sizing : border-box;
    overflow: hidden;
}


img#nooblabemo {
    position : fixed;
    bottom : 0px;
    left : 3px;
    height : 50px;
    width : 50px;
    z-index : 50001;
}


#logoutitem, #usermenu {
    font-family: Verdana, sans-serif;
    font-size: 0.85em;
    padding : 2px;
    margin : 3px;
    background-color : white;
    cursor : pointer;
    cursor : hand;
    font-weight : bold;
    position : fixed; bottom : 0; right : 580px; border: 1px solid black;
}


#navlecture,#navvideo {
    font-family: Verdana, sans-serif;
    font-size: 0.85em;
    padding : 2px;
    margin : 3px;
    background-color : white;
    cursor : pointer;
    cursor : hand;
    font-weight : bold;
    position : fixed; bottom : 0; right : 650px; border: 1px solid black;
}

#navvideo {
    right : 680px;
}

#navlecture.selected,#navvideo.selected {
    background-color : #666;
}

#navlecture.selected i,#navvideo.selected i {
    color : white;
}


#usermenu {
    bottom : 25px;
    display : none;
}


#usermenu div {
    border-bottom : 1px solid gray;
}

#usermenu div.disabled {
    color : gray;
}


#usermenu div:not(.disabled):hover {
    background: #CFE5E8;
}


#usermenu div:last-child {
    border-bottom : 0px;
}


#navbar .navitem.selected {    
    background-color : black;
    color : white;
}


#navbar .navitem a, #logoutitem a, #usermenu a {
    text-decoration : none;
    color: black;
}


#navbar .navitem.selected a {
    text-decoration : none;
    color: white;
}


#content table {
    border: 1px solid black;
    background-color: #EDF4F5;
    border-collapse: collapse;
}


#content table th {
    color : white;
    text-align: left;
    background-color: black;
    padding : 3px;
}


#content table td {
    border : 1px solid gray;
    padding : 3px;
}


/* quick quiz CSS */


#content .qqmain, #content .qqinput {
    border: 1px solid black;
    background-color: #EDF4F5;
    padding: 5px;
    font-weight: bold;
}


#content .qqmain .distractor, #content .qqinput .distractor {
    margin-top: 0.5em;
    font-weight: normal;
    margin-left: 1em;
    cursor: hand;
    cursor: pointer;
}


#content .qqmain .correct div.response, #content .qqinput .correct div.response {
    color: green;
    font-weight: bold;
}


#content .qqmain .wrong div.response, #content .qqinput .wrong div.response {
    color: red;
}


#content .qqinput .distractor {
    display : none;
}


.loginBoxBigger {
  position: absolute;
  width: 380px;
  height: 210px;
  left: 50%;
  top: 50%;
  margin-left: -190px;
  margin-top: -105px;
  background-color: white;
  border: 2px solid black;
  text-align : center;
  box-sizing: border-box;
  -moz-box-sizing : border-box;
  -ms-box-sizing : border-box;
  -webkit-box-sizing : border-box;
  padding : 5px;
}


.loginBox h3 {
    margin : 0px;
}


.loginBoxBigger form {
    margin-top : 1em;
}


.loginBoxBigger form input {
    width : 250px;
}


.loginBoxBigger form div.label {
    float : left;
    width : 100px;
}


.loginBoxBigger form input.button {
    float : right;
    width : 10em;
    margin-top : 1em;
}


iframe.fakedoc {
    border : 0px solid black;
    width : 100%;
}


div.fakedoc, div.htmleditor {
    border : 1px solid black;
    background : #EDF4F5;
    padding : 5px;
}


div.fakedoc.carol {
    /* width : 400px;
    height : 400px; */
    margin-left : auto;
    margin-right : auto;
    position : relative;
    display : table;
}


div.fakedoc.carol .programbar {
    position : absolute !important;
    right : 3px;
    bottom : 3px;
    top : 3px;
    box-sizing : border-box;
    padding: 3%;
    background-color : white;
    float : right;
    overflow-y : auto;
    text-align : center;
    overflow-x : hidden;
}


img.carol {
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0px; left: 0px;
    z-index: 5000;
}


div.carolsquare {
    font-size : 20px;
    text-align : center;
    position : relative;
    display : table-cell;
    vertical-align: middle;
    border : 1px solid gray;
    box-sizing : border-box;
    -moz-box-sizing : border-box;
    float : left;
}


div.carolsquare.pickup {
    /*background-color : #e4b2b2;*/
    background-image: url(images/package.png);
    background-size: 100% auto;
}
div.carolsquare.temphighlight {
    background-color : #ffff99;
}
div.carolsquare.blocked {
    background-color : gray;
    background-image: url(images/bricks.png);
    background-size: 100% auto; /* width and height, can be %, px or whatever. */
}
div.carolsquare.goal {
    background-color: #A9F5A9;
}


span.fakedoctab {
    background : gray;
    color : white;
    margin-left : 3px;
    padding :5px;
}


span.fakedoctab.selected {
    background : black;
    color : white;
}

div.CodeMirror {
    height : 100%;
}

@media print {
div#content { position : static }
div#toolbar { display : none }
div#editor-wrapper { display : none }
div#output-outer { display : none }
}

/* Apprise */
.appriseOuter {
    max-width : 50% !important;
}

/* Colourbox CSS */


/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:30000; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}


/*
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:14px; height:14px; background:url(images/controls.png) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(images/border.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(images/controls.png) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(images/controls.png) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(images/border.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(images/controls.png) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(images/controls.png) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls.png) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}


        #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(images/controls.png) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious:hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext:hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose:hover{background-position:-100px 0px;}


        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-125px 0px;}

