<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RunPage</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.RunPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogViewer</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.stats.LogViewer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNotify</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.AdminNotify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RobotIP</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.RobotIP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BotController</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.BotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPPRunner</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.CPPRunner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPPConsole</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.c.CPPConsole</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RunPython</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.RunPython</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RunPage</servlet-name>
        <url-pattern>/RunPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogActivity</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.LogActivity</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogActivity</servlet-name>
        <url-pattern>/LogActivity</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogEmotion</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.LogEmotion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogEmotion</servlet-name>
        <url-pattern>/LogEmotion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.Main</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/contents/*</url-pattern>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveAs</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.SaveAs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAs</servlet-name>
        <url-pattern>/SaveAs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BounceFile</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.BounceFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BounceFile</servlet-name>
        <url-pattern>/BounceFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServerSideCookie</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.ServerSideCookie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerSideCookie</servlet-name>
        <url-pattern>/ServerSideCookie</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StatsService</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.StatsService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatsService</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubmitWork</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.SubmitWork</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmitWork</servlet-name>
        <url-pattern>/SubmitWork</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScoreTable</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.ScoreTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoreTable</servlet-name>
        <url-pattern>/ScoreTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JavaRunner</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.JavaRunner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JavaRunner</servlet-name>
        <url-pattern>/JavaRunner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetClassServlet</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.java.GetClassServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetClassServlet</servlet-name>
        <url-pattern>/GetClass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RunFullWeb</servlet-name>
        <servlet-class>uk.ac.kingston.nooblab.RunFullWeb</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RunFullWeb</servlet-name>
        <url-pattern>/RunFullWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogViewer</servlet-name>
        <url-pattern>/LogViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNotify</servlet-name>
        <url-pattern>/AdminNotify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RobotIP</servlet-name>
        <url-pattern>/RobotIP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BotController</servlet-name>
        <url-pattern>/BotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPPRunner</servlet-name>
        <url-pattern>/CPPRunner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPPConsole</servlet-name>
        <url-pattern>/CPPConsole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RunPython</servlet-name>
        <url-pattern>/RunPython</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>240</session-timeout>
    </session-config>
    <!-- config-specific parameters -->
    <context-param>
        <description>Authentication type</description>
        <!-- three types: ldap, ad or pretend -->
        <param-name>authType</param-name>
        <param-value>remote:https://kunet.kingston.ac.uk/ku46587/pnnl.php</param-value>
    </context-param>
    <context-param>
        <description>AD domain</description>
        <param-name>adDomain</param-name>
        <param-value>kuds.kingston.ac.uk</param-value>
    </context-param>
    <context-param>
        <description>LDAP connection string</description>
        <param-name>ldapConnectionString</param-name>
        <param-value>o=ku,cn=*USER*</param-value>
    </context-param>
    <context-param>
        <description>LDAP port</description>
        <param-name>ldapPort</param-name>
        <param-value>389</param-value>
    </context-param>
    <context-param>
        <description>LDAP server</description>
        <param-name>ldapServer</param-name>
        <param-value>kuds.kingston.ac.uk</param-value>
    </context-param>
    <context-param>
        <description>LDAP SSL status</description>
        <param-name>ldapSsl</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- data dir -->
    <context-param>
        <description>Data dir</description>
        <param-name>datadir</param-name>
        <!--<param-value>/Users/paulneve/Desktop/noobdata</param-value>-->
        <param-value>/data/noobdata</param-value>
    </context-param>
    <context-param>
        <description>Fullweb URL</description>
        <param-name>fullweburl</param-name>
        <param-value>/noobdata</param-value>
    </context-param>
    <context-param>
        <description>Mailhost for admin notifications</description>
        <param-name>mailhost</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <description>Admin address for admin notifications</description>
        <param-name>adminaddress</param-name>
        <param-value>p.neve@kingston.ac.uk</param-value>
    </context-param>
    <context-param>
        <description>From address for admin notifications</description>
        <param-name>fromaddress</param-name>
        <param-value>paul@paulneve.com</param-value>
    </context-param>
</web-app>
